aiohttp==3.7.4.post0
altgraph==0.17
async-timeout==3.0.1
attrs==21.2.0
auto-py-to-exe==2.9.0
bottle==0.12.19
bottle-websocket==0.2.9
certifi==2020.12.5
cffi==1.14.5
chardet==4.0.0
choicelib==0.1.4
colorama==0.4.4
discord==1.0.1
discord-components==0.5.3
discord.py==1.7.3
dnspython==1.16.0
Eel==0.12.4
future==0.18.2
gevent==21.1.2
gevent-websocket==0.10.1
greenlet==1.1.0
idna==2.10
imutils==0.5.4
ip==21.1.1
keyboard==0.13.5
MouseInfo==0.1.3
mss==6.1.0
multidict==5.1.0
mutagen==1.45.1
numpy==1.20.3
opencv-python==4.5.2.52
pefile==2021.5.24
Pillow==8.2.0
playsound==1.2.2
plumbum==1.7.0
psutil==5.8.0
pyad==0.6.0
PyAutoGUI==0.9.52
pycparser==2.20
pydantic==1.8.2
pygame==2.0.1
PyGetWindow==0.0.9
pyglet==1.5.17
pyinstaller==4.3
pyinstaller-hooks-contrib==2021.1
pymongo==3.11.4
PyMsgBox==1.0.9
pyperclip==1.8.2
pypiwin32==223
pypresence==4.2.0
PyRect==0.1.4
PyScreeze==0.1.27
pyTelegramBotAPI==3.7.9
pythreadworker==0.9.0
PyTweening==1.0.3
pytz==2021.1
pywin32-ctypes==0.2.0
requests==2.25.1
selenium==3.141.0
six==1.16.0
SpeechRecognition==3.8.1
typing-extensions==3.10.0.0
urllib3==1.26.4
watchgod==0.7
websockets==9.1
whichcraft==0.6.1
winapps==0.2.0
yarl==1.6.3
zope.event==4.5.0
zope.interface==5.4.0
